version: "3.7"
services:
  server:
    image: foxace/m3u-editor:latest
    container_name: foxace-m3u-editor_server_1
    restart: on-failure
    ports:
      - "36400:36400"
    environment:
      - TZ=Europe/Paris
      - APP_URL=http://192.168.1.60
      - APP_PORT=36400
      - M3U_PROXY_ENABLED=false
      - M3U_PROXY_URL=
      - REDIS_HOST=127.0.0.1
      - REDIS_PASSWORD=umbrelm3ueditor2025
      - PUID=1000
      - PGID=1000
    volumes:
      - ${APP_DATA_DIR}/data:/var/www/config
      - ${APP_DATA_DIR}/postgres:/var/lib/postgresql/data
      - /home/umbrel/umbrel/home:/mnt:rslave
    networks:
      default:
        aliases:
          - m3u-editor

networks:
  default:
    name: umbrel_main_network
    external: true
