version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: foxace-configarr_server_1
      APP_PORT: 8989
  server:
    image: ghcr.io/raydak-labs/configarr:latest
    environment:
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data/config:/app/config
    restart: on-failure
