version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: foxace-configarr_server_1
      APP_PORT: 8080
      PROXY_AUTH_WHITELIST: "/healthcheck"
  server:
    image: ghcr.io/raydak-labs/configarr:latest
    environment:
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data:/app/config
    entrypoint: ["tail", "-f", "/dev/null"]
    restart: on-failure
