version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: foxace-plex_server_1
      APP_PORT: 32400

  server:
    image: binhex/arch-plexpass:latest
    restart: on-failure
    hostname: "${DEVICE_HOSTNAME}"
    ports:
      - "32400:32400"
      - "1900:1900/udp"
      - "3005:3005"
      - "5353:5353/udp"
      - "8324:8324"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
      - "32469:32469"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/Paris
      - PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR=/config
      - PLEX_ALLOWED_NETWORKS=192.168.1.0/24
      - ADVERTISE_IP=http://192.168.1.60:32400/
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/transcode:/transcode
      - ${UMBREL_ROOT}/home:/mnt:rslave
    devices:
      - /dev/dri:/dev/dri
    networks:
      default:

networks:
  default:
    name: umbrel_main_network
    external: true
