version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: foxace-plex_server_1
      APP_PORT: 32400
    networks:
      default:
  server:
    image: ghcr.io/hotio/plex:latest
    ports:
      - "32400:32400"
      - "1900:1900/udp"
      - "3005:3005"
      - "5353:5353/udp"
      - "8324:8324"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
      - "32469:32469"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/transcode:/transcode
      - ${UMBREL_ROOT}/home:/mnt:rshared
    devices:
      - /dev/dri:/dev/dri
    restart: on-failure
    networks:
      default:
        aliases:
          - plex

networks:
  default:
    name: umbrel_main_network
    external: true
