version: "3.7"

services:
  app_proxy:
    image: getumbrel/app-proxy:1.0.0
    environment:
      APP_HOST: foxace-wygiwyh_web_1
      APP_PORT: 8000
    volumes:
      - ${APP_DATA_DIR}/umbrel-app.yml:/extra/umbrel-app.yml:ro
    networks:
      default:

  web:
    image: eitchtee/wygiwyh:latest
    restart: on-failure
    environment:
      - TZ=Europe/Paris
      - DEBUG=false
      - HTTPS_ENABLED=false
      - SECRET_KEY=$APP_SEED
      - DJANGO_ALLOWED_HOSTS=*
      - SQL_DATABASE=wygiwyh
      - SQL_USER=wygiwyh
      - SQL_PASSWORD=wygiwyh
      - SQL_HOST=foxace-wygiwyh_db_1
      - SQL_PORT=5432
      - WEB_CONCURRENCY=2
      - ENABLE_SOFT_DELETE=false
    depends_on:
      db:
        condition: service_healthy
    networks:
      default:
        aliases:
          - wygiwyh

  db:
    image: postgres:15-bookworm
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=wygiwyh
      - POSTGRES_PASSWORD=wygiwyh
      - POSTGRES_DB=wygiwyh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wygiwyh"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      default:
        aliases:
          - wygiwyh-db

networks:
  default:
    name: umbrel_main_network
    external: true
