version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: foxace-plextraktsync_server_1
      APP_PORT: 8282
      PROXY_AUTH_WHITELIST: "/healthcheck"
  server:
    image: lscr.io/linuxserver-labs/plextraktsync:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    restart: on-failure
