version: "3.7"

services:
  watchlistarr:
    image: ghcr.io/nylonee/watchlistarr:latest
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/config:/app/config
    environment:
      - SONARR_API_KEY=YOUR_SONARR_API_KEY
      - SONARR_BASE_URL=http://foxace-sonarr_server_1:8989
      - RADARR_API_KEY=YOUR_RADARR_API_KEY
      - RADARR_BASE_URL=http://foxace-radarr_server_1:7878
      - PLEX_TOKEN=YOUR_PLEX_TOKEN
    entrypoint:
      - /bin/sh
      - -c
      - |
        # Remove default config.yaml to force use of env vars
        rm -f /app/config/config.yaml
        exec java -jar watchlistarr.jar
    networks:
      default:
        aliases:
          - watchlistarr

networks:
  default:
    name: umbrel_main_network
    external: true
