version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: foxace-ygege_server_1
      APP_PORT: 8715
  server:
    image: uwucode/ygege:latest
    environment:
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data/sessions:/app/sessions
      - ${APP_DATA_DIR}/data/ygege.yml:/app/ygege.yml
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8715/health"]
      interval: 90s
      timeout: 20s
      retries: 3
